.submit {
    text-align: right;
}

.homePageSubDivs {
position: relative;

}

.bottomRight {
    display: block;
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
}


.centerFlex {
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.spacer {
    margin-left: 20px;
    margin-right: 20px;
}