.submit {
    text-align: right;
}

homePageSubDivs {
    height: 150px;
    position: relative;
    border: 2px solid rgb(26, 53, 1);
    background-color: rgb(162, 173, 121);
}

bottomright {
    display: flex;
    height: 130px;
    justify-content: right;
    align-items: center;
}