<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/create.css">
    <link rel="stylesheet" href="/home.css">
    <meta charset="UTF-8">
    <title>Create WishList</title>
</head>
<body>

<!--
<a class="homeButton" href="window.location.href='http://localhost:8080/';">
    <img src="homeButton.png">
</a>
-->

<div class="centerFlex">
    <div>
        <h2 class="verdanaText">Her kan du tilføje<br>dine ønsker til listen</h2>
        <label for="addWish"></label><input id="addWish" type="text"> <br>
        <button onclick="addWish()">Click me to add to list</button>
        <br>
    </div>

    <div class="spacer"></div>

    <div>
        <h2 class="verdanaText">Her kan du fjerne<br>dine ønsker fra listen</h2>
        <label for="removeWish"></label><input id="removeWish" type="text"> <br>
        <button onclick="removeWish()">Click me to remove the wish</button>
        <br>
    </div>

</div>
<div>
    <ul id="wishlist">
    </ul>
</div>




<div class="homePageSubDivs">

    <form action="/submitList" method="post">

        <label for="inputForm"></label>
        <input id="inputForm" type="text" name="wish" style="display: none">
        <div class="bottomright">
            <button type="submit">Submit ønskeliste</button>
    </form>
    <button onclick="deleteAllWishes()">Delete all wishes</button>
</div>
</div>


</body>

<script>
    var list = document.getElementById('wishlist')


    function addWish() {
        var wish = document.getElementById('addWish').value;
        if (wish.length >= 1) {
            var wishElement = document.createElement('li');
            wishElement.id = wish;
            wishElement.appendChild(document.createTextNode(wish));
            list.appendChild(wishElement);

            document.getElementById('inputForm').value = document.getElementById('inputForm').value + wish + ';'

            document.getElementById('addWish').value = '';
        }
    }

    function removeWish() {

        var wish = document.getElementById(document.getElementById('removeWish').value);

        text = document.getElementById('inputForm').value

        text = text.replace(document.getElementById('removeWish').value, '')

        document.getElementById('inputForm').value = text

        wish.remove();
        document.getElementById('removeWish').value = '';


    }

    function deleteAllWishes() {
        document.getElementById('inputForm').value = ''

        while (list.childElementCount > 0) {
            list.removeChild(list.firstChild)
        }
    }


</script>
</html>