<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/create.css">
    <link rel="stylesheet" href="/home.css">
    <meta charset="UTF-8">
    <title>Create WishList</title>
</head>
<body>
<div>
    <h4 class="verdanaText"> <span th:text="${date}"></span></h4>
    <div class="negativeMargin">
        <h1 class="header1">Her kan du tilføje og fjerne ønsker fra listen</h1> <br>
        <a href="http://localhost:8080">
            <img class="homeButton" src="homeButton.png">
        </a>

        <h4 class="verdanaText"> <span th:text="${login}"></span></h4>
    </div>

</div>
<div class="centerFlex">
    <div>
        <h2 class="verdanaText">Her kan du tilføje<br>dine ønsker til listen</h2>
        <label for="addWish"></label><input id="addWish" type="text"> <br>
        <button onclick="addWish()">Tilføj</button>
        <br>
    </div>

    <div class="spacer"></div>

    <div>
        <h2 class="verdanaText">Her kan du fjerne<br>dine ønsker fra listen</h2>
        <label for="removeWish"></label><input id="removeWish" type="text"> <br>
        <button onclick="removeWish()">Fjern</button>
        <br>
    </div>
</div>

<div>
    <ul id="wishlist">
    </ul>
</div>

<div class="homePageSubDivs">
    <div class="bottomright">
    <form action="/submitList" method="post">
        <label for="inputForm"></label>
        <input id="inputForm" type="text" name="wish" style="display: none">

            <button type="submit">Submit ønskeliste</button>
    </form>
    <button onclick="deleteAllWishes()">Fjern alle ønsker</button>
</div>
    <div class="bottomLeft">
        <form action="/deleteUser" method="post">
            <button type="submit">Slet din bruger og dine ønsker her!</button>
        </form>
    </div>
</div>
</body>
<script>

    var list = document.getElementById('wishlist')


    function addWish() {
        var wish = document.getElementById('addWish').value;
        if (wish.length >= 1) {
            var wishElement = document.createElement('li');
            wishElement.id = wish;
            wishElement.appendChild(document.createTextNode(wish));
            list.appendChild(wishElement);

            document.getElementById('inputForm').value = document.getElementById('inputForm').value + wish + ';'

            document.getElementById('addWish').value = '';
        }
    }

    function removeWish() {

        var wish = document.getElementById(document.getElementById('removeWish').value);

        text = document.getElementById('inputForm').value

        text = text.replace(document.getElementById('removeWish').value, '')

        document.getElementById('inputForm').value = text

        wish.remove();
        document.getElementById('removeWish').value = '';


    }

    function deleteAllWishes() {
        document.getElementById('inputForm').value = ''

        while (list.childElementCount > 0) {
            list.removeChild(list.firstChild)
        }

    }

</script>
</html>