<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/home.css">
    <meta charset="UTF-8">
    <title>dit password</title>
</head>
<body>
<div>
    <h4 class="verdanaText"> <span th:text="${date}"></span></h4>
    <div class="negativeMargin">
        <a href="http://176.22.128.91/">
            <img style="float:right;" class="cloudButton" src="homeButton.png">
        </a>
    </div>
    <h4 class="verdanaText"> <span th:text="${login}"></span></h4>
</div>

<h2 class="verdanaText">Tillykke, <span th:text="${name}"></span> du har lavet en online ønskeliste! <br>
    Hvis du ønsker at dele den med familie/venner skal du sende dem koden nedeunder</h2> <br>

<h2 class="verdanaText">Din personlige kode er: <span th:text="${password}"></span></h2>

</body>
</html>