<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/home.css">
    <meta charset="UTF-8">
    <title>Her kan du lave din egen online ønskeseddel!</title>
</head>
<body>
<div>
    <h4 class="verdanaText"> <span th:text="${date}"></span></h4>
    <div class="negativeMargin2">
        <h1 class="header1">Lav din egen online ønskeseddel</h1>
        <a href="http://176.22.128.91/">
            <img style="float:right;" class="cloudButton" src="homeButton.png">
        </a>

    </div>
    <div class="loginMargin">
        <h4 class="verdanaText"> <span th:text="${login}"></span></h4>
    </div>


</div >
<div class="mainLoginDiv">

    <div id="loginDiv1">
        <h2 class="verdanaText">Her kan du oprette dig eller logge ind</h2>

        <form action="/create" method="post">
            <label> <br>
                Navn: <br>
                <input class="homePageInputs" type="text" name="name">
            </label> <br>

            <label> <br>
                Email: <br>
                <input class="homePageInputs" type="text" name="email"> <br>
            </label> <br>

            <button type="submit">Opret ønskeseddel</button>
        </form>
    </div>

    <div id="loginDiv2">
        <h2 class="verdanaText">Her kan du se andres ønsker via kode</h2>
        <form action="/getList" method="get">
            <label>
                Indtast kode her <br>
                <input class="homePageInputs" type="text" name="password"> <br>
            </label> <br>
            <button type="submit">submit</button>
        </form>
    </div>
</div>
</body>
</html>