<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReservedList</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body onload="createList()">

<div>
    <h1 class="verdanaText"> <span th:text="${name}"></span>'s ønskeliste </h1>

    <a href="http://localhost:8080">
        <img style="float:right;" class="homeButton" src="homeButton.png">
    </a>

</div>

<div >
    <pre class="verdanaText" id="listshowed" th:text="${list}"></pre>
</div>


</body>

</html>