<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReservedList</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body onload="createList()">
<div>
    <h4 class="verdanaText"> <span th:text="${date}"></span></h4>
    <h1 class="verdanaText"> <span th:text="${name}"></span>'s ønskeliste </h1>
    <h4 class="verdanaText"> <span th:text="${login}"></span></h4>
    <a href="http://176.22.128.91/">
        <img style="float:right;" class="cloudButton" src="homeButton.png">
    </a>
</div>
<div >
    <pre class="verdanaText" id="listshowed" th:text="${list}"></pre>
</div>
</body>
</html>