<!DOCTYPE html>\n" +
"
<html lang=\"en\">\n" +
"
<head>\n" +
    "
    <meta charset=\"UTF-8\">
    \n" +
    " <title>ReservedList</title>\n" +
    "
    <link rel=\"stylesheet\" href=\"home.css\">
    \n" +
    "\n" +
    "<a href=\"http://localhost:8080/\">\n" +
        " <img class=\"homeButton\" src=\"homeButton.png\">\n" +
        "</a>\n" +
    "
</head>
\n" +
"
<body>\n" +
"<h1 class=\"verdanaText\"> " + name + "'s ønskeliste </h1>\n" +
"\n" +
"<h2 class=\"verdanaText\">\n" +

    list +
    "\n" +
    " \n" +
    "\n" +
    "</h2>\n" +
"
</body>
\n" +
"
</html>